body {
    margin: 0;
    padding-top: 400px;
    text-align: center;
}

.imgwel {
    width: 150px;
    height: 150px;
    border-radius: 70%;
    margin-bottom: 50px;
    margin-top: 100px;
    text-align: center;
    margin-left: 400px;
    margin-right: 400px;
}

#welcome {
    position: absolute;
    overflow: hidden;
    height: 400px;
    color: aqua;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgb(163, 255, 244);
    background: linear-gradient(125deg, rgba(163, 255, 244, 0.919502835313813) 15%, rgba(255, 25, 246, 0.9531162806919643) 50%, rgba(80, 255, 100, 0.9223039557619923) 85%);
    z-index: 9;
}

h1 {
    font-size: 40px;
    line-height: 1.2;
    font-family: cursive;
}

h2 {
    font-size: 40px;
    line-height: 1.2;
    font-family: monospace;
}

.line {
    height: 6px;
    width: 300px;
    background-color: black;
    margin-left: 600px;
    margin-bottom: 30px;
}

#biohi {
    font-size: 50px;
    font-family: sans-serif;
}

p {
    color: blue;
}

.menu {
    list-style: none;
    top: 10px;
    right: 30px;
    font-family: cursive;
    position: absolute;
    z-index: 10;
    cursor: pointer;
}

.links {
    float: right;
    font-family: monospace;
    color:blueviolet;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 20px;
    padding-bottom: 5px;
    font-size: 30px;
    margin-right: 20px;
    margin-left: 5px;
}

.links:hover {
    background-color:aquamarine;
}
.a{
   text-decoration: underline;
}
.article:hover{
    color: chartreuse;
}
#projects{
    width: 100%;
    height: 1400px;
    background-color: chartreuse
}
#games{
    width: 100%;
    height: 3300px;
    background-color: chartreuse
}
#Chatbot{
    width: 100%;
    height: 800px;
    background-color: chartreuse
}
img{
    transition: transform;
}
img:hover{
    transform: scale(0.9);
}
#bio{
    margin-top: 350px;
}